@model Expense_Tracker.Models.Category

@{
    ViewData["PageTitle"] = "Create Category";
}

<h2>@ViewData["PageTitle"]</h2>

<div class="container">
    <!-- Added container for proper alignment -->
    <div class="row justify-content-center">
        <!-- Centering the form -->
        <div class="col-md-6">
            <!-- Adjusted column width to 6 for a narrower box -->
            <div class="widget p-5" style="background-color:#212b36">
                <form asp-action="CreateCategory" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="mb-3">
                        <label asp-for="Title" class="text-white">Title</label>
                        <ejs-textbox id="title" placeholder="Title" ejs-for="Title" floatLabelType="Always"></ejs-textbox>
                        <span asp-validation-for="Title" class="text-danger fs-6"></span>
                    </div>

                    <div class="mb-3">
                        <label class="text-white">Type</label>
                        <div class='e-btn-group custom-rbt-group'>
                            <input type="radio" id="radioleft" name="Type" value="Expense" checked="@(Model.Type == "Expense")" />
                            <label class="e-btn" for="radioleft">Expense</label>
                            <input type="radio" id="radiomiddle" name="Type" value="Income" checked="@(Model.Type == "Income")" />
                            <label class="e-btn" for="radiomiddle">Income</label>
                        </div>
                    </div>

                    <div class="mb-3">
                        @{
                            var data = new string[] { "Food: ", "Utilities: ", "Gas: ", "Electricity: ", "Transportation: ", "Mortgage: ", "Health: ", "Insurance: ", "Internet: ", "Housing: ", "Salary: ", "Vacation: ", "Other: " };
                        }

                        <ejs-dropdownlist id="icon" placeholder="Select Icon" ejs-for="Icon" floatLabelType="Always" dataSource="@data"></ejs-dropdownlist>
                        <span asp-validation-for="Icon" class="text-danger fs-6"></span>
                    </div>

                    <ejs-button id="submit" type="submit" content="Create" cssClass="e-success"></ejs-button>
                </form>
            </div>
        </div>
    </div>

    <div class="mt-3">
        <a asp-action="ManageCategories" class="btn btn-secondary text-white">Back to List</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
