@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center py-4">
    <h1 class="fs-1 fw-bold mb-4">Welcome to a Smarter Way to Budget!</h1>
    <p class="text-muted" style="font-size: 1rem;">
        Simplify your financial planning and stay on top of your expenses effortlessly.
    </p>
</div>
